<ion-view title="Busca por idioma">
  <ion-content class="scroll-content has-header">
    <ion-list>
      <ion-item ng-repeat="language in languages"
                class="item item-checkbox">
        {{language.name}}
        <label class="checkbox">
          <input type="checkbox" ng-model="language.checked" ng-true-value="{{ language.id }}">
        </label>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar>
    <button class="button button-full button-positive icon ion-search" ng-click="search()"> Buscar</button>
  </ion-footer-bar>
</ion-view>
