<ion-view view-title="Menu-Web">
  <ion-nav-buttons side="primary">
    <button class="button button-clear" ui-sref="search">
      <i class="icon ion-ios7-search-strong"></i>
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="secondary">
    <button class="button button-icon" ui-sref="restaurants">
      <i class="icon ion-navicon"></i>
    </button>
  </ion-nav-buttons>

  <ion-content scroll="false" data-tap-disabled="true">
    <ui-gmap-google-map center='map.center' zoom='map.zoom' draggable="true" options='map.options' pan="true" bounds="map.bounds" ngCloak>
      <ui-gmap-markers models="map.markers" coords="'location'" doRebuildAll="map.doRebuildAll" click="'onClick'" icon="'icon'"
      doCluster="map.doCluster" clusterOptions="map.clusterOptions">
        <ui-gmap-windows coords="'location'" show="'show'" templateParameter="'templateParameter'" templateUrl="'templateUrl'" options="'options'" ngCloak>
          <!--
        -->
        </ui-gmap-windows>
      </ui-gmap-markers>
    </ui-gmap-google-map>
    <ion-footer-bar class="bar-positive">
      <button class="button button-full button-clear icon ion-camera" ng-click="scan()"> QR Scan</button>
    </ion-footer-bar>

  </ion-content>
</ion-view>
