<ion-view title="{{ currentRestaurant.getName() }}">
  <ion-content has-header="true" has-subheader>
    <ion-list>
      <ion-item ng-repeat="dish in dishes">
        <h2>{{ dish.name }}</h2>
        <span> {{ dish.price | number | currency: "€"}}</span>
        <p>{{ dish.description }}</p>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="bar-positive">
    <button class="button button-full button-positive" ng-click="goToLanguage()"> Cambiar Idioma</button>
  </ion-footer-bar>
</ion-view>
