<ion-view view-title="List">
  <ion-nav-buttons side="secondary">
    <button class="button button-clear" ui-sref="map">
      <i class="icon ion-location"></i>
    </button>
  </ion-nav-buttons>
<!--
  <ion-content has-header="true">
  -->
  <icon-content class="scroll-content has-header">
    <ion-list>
      <a ng-repeat="rest in restaurants"
                class="item item-avatar"
                ui-sref="restaurant({restaurantId: rest.id})">
        <img ng-src="{{ rest.logoUrl }}">
        <h2>{{ rest.name }}</h2>
        <h4 class="detall">{{ rest.distance | number:3 | distance }}</h4>
        <h4>{{ rest.priceRange | name:priceranges }}</h4>
      </a>
<!-- TODO: infinite scroll + refresh + categoria -->
    </ion-list>
  </ion-content>
</ion-view>
