<ion-view title="List" right-buttons="rightButtons">
  <ion-nav-buttons side="right">
    <button class="button button-clear" ui-sref="map">
      <i class="icon ion-location"></i>
    </button>
  </ion-nav-buttons>

  <ion-content has-header="true">
    <ion-list>
      <a ng-repeat="rest in restaurants"
                class="item item-avatar"
                ui-sref="restaurant({restaurantId: rest.id})">
        <img ng-src="{{rest.getLogoUrl()}}">
        <h2>{{ rest.getName() }}</h2>
        <h4>TODO!!</h4>
      </a>
    </ion-list>
  </ion-content>
</ion-view>
